{% extends "layout.html" %}
{% block title %} Update Members {% endblock %}
{% block main %}

<br />
<h3 style="text-align: center">Update Members</h3>
<form method="POST" action="/update-members/{{id}}">
  {{ form.hidden_tag() }}

  <!-- username -->
  <div class="mb-3">
    <strong>{{ form.username.label }}</strong>
    {{ form.username(class="form-control", placeholder="Enter member's username") }}
  </div>

  <!-- fullname -->
  <div class="mb-3">
    <strong>{{ form.fullname.label }}</strong>
    {{ form.fullname(class="form-control", placeholder="Enter fullname") }}
  </div>

  <!-- email -->
  <div class="mb-3">
    <strong>{{ form.email.label }}</strong>
    {{ form.email(class="form-control", placeholder="Enter email") }}
  </div>

  <!-- outstanding debt -->
  <div class="mb-3">
    <strong>{{ form.outstanding_debt.label }}</strong>
    {{ form.outstanding_debt(class="form-control", placeholder="Enter rent owed") }}
  </div>

  <!-- Submit Button -->
  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
